<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,700italic,500italic,900,900italic,400italic,300italic,100italic' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.6.0/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/hogan.js/3.0.0/hogan.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.4/handlebars.min.js"></script>

    <script src="/javascripts/carsinfo-widget.js"></script>
    <script src="/javascripts/weatherinfo-widget.js"></script>
    <script src="/javascripts/trackinfo-widget.js"></script>
    <script src="/javascripts/position-map.js"></script>
    <script src="/javascripts/progress.js"></script>

    <script>
	    $(function() {
			loadData();
			window.widget.trackinfo.init();
			window.widget.weatherinfo.init();
			window.widget.carsinfo.init();
			window.widget.positionMap.init();
      window.widget.progress.init();

			setInterval(function() {	
				loadData();
		    }, 10000);
	    });

	    function loadData() {
			checkVersion();

			var url = "/data";
			$.getJSON( url, function( data ) {
				window.widget.trackinfo.bind(data.track);
				window.widget.weatherinfo.bind(data.track.weather);
				window.widget.carsinfo.bind(data);
				window.widget.positionMap.bind(data);
        window.widget.progress.bind(data);
			});
		};

    	var lastVersion = null;
	    function checkVersion() {
	    	$.ajax({url: "/version"}).success(function(data) {
    			if(lastVersion == null) {
    				lastVersion = data;
    			}

    			if(lastVersion != data) {
    				window.location.reload(true);
    			}
	    	})
	    }
    </script>
  </head>

  <body>
  <%- include widget-progress.ejs %>  
  <%- include widget-position-map.ejs %>    

  	<div id="trackInfo" class="row">
  		<h2>Track info loading...</h2>
  		<%- include widget-trackinfo.ejs %>
	</div>

  	<div id="weatherInfo" class="row">
  		<h2>Weather info loading...</h2>
  		<%- include widget-weatherinfo.ejs %>
	</div>
  	
  	<div id="carInfo" class="row">
  		<h2>Car info loading...</h2>
  		<%- include widget-carsinfo.ejs %>
  	</div>
  </body>
</html>

